#add{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    margin-bottom: 50px;
    text-align: center;
    color: #209E86;
    padding-bottom: 50px;
    border-radius: 3px;
    background-color: antiquewhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#add h1{
    padding-top: 20px; 
}
#add-box{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 350px;
    background-color: #209E86;
    color: antiquewhite;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}
#add-box form{
    display: flex;
    flex-direction: column;
}
#add-box form div{
    width: 95%;
    height:70px;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
}
#p-data{
    font-size: 25px;
}
#add-box form div input{
    margin-right: 20px;
    font-size: 15px;
    background-color: antiquewhite;
    border: 0;
    padding: 10px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    text-shadow: 1px 0px 6px rgba(66,66,66,.75);
    
}
#add-box form div textarea{
    resize: none;
    font-size: 15px;
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    border-radius: 3px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    text-shadow: 1px 0px 6px rgba(66,66,66,.75);
}
#add-box form div select{
    background-color: antiquewhite;
    width: 20%;
    font-size: 15px;
    height: 50%;
    padding-left: 5px;
    text-shadow: 1px 0px 6px rgba(66,66,66,.75);
    border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
#add-box form div textarea:focus{
    outline: none;
}
#add-box form div select:focus{
    outline: none;
}
#add-box form div input:focus{
    outline: none;
}
.button-click{
    background: linear-gradient(to right,#bec58f ,#25d1a2);
    background-color: #bec58f;
    color:antiquewhite;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    padding: 10px 20px;
    border: 0px solid #000;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 14px -2px rgba(164.9531614780426,161.97886224242612,161.97886224242612,0.5);
   }
.button-click:hover{
    background: linear-gradient(to right,#c5cc9e ,#58d6ae);
    background-color: #c5cc9e;
    cursor: pointer;
}
.button-click:active{
    transform: scale(0.95);
}

@media only screen and (max-width: 800px) {
    #add-box form div select{
        width: 25%;
    }
    #add-box form div textarea{
        width: 75%;
    }
    #add-box form div{
        width:90%;
        padding-bottom: 20px;
        
        
    }
}

