#amount-container{
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #209E86;
    border-left: 5px solid #58d6ae;
}
#amount-container h1{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;

}
#amount-container p{
    padding-left: 10px;
    font-size: 20px;
}
#amount-container #amount-text{
    text-align: right;
    padding-right: 50px;
}
#amount-container #amount{
    text-align: right;
    padding-right: 50px;
}
#amount-container #box{
    display: flex;
    flex-direction: row;
    
}
#amount-container #box div{
    text-align: center;
    width: 50%;
}

.button-click{
    background: linear-gradient(to right,#bec58f ,#25d1a2);
    background-color: #bec58f;
    color:antiquewhite;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    padding: 10px 20px;
    border: 0px solid #000;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 14px -2px rgba(164.9531614780426,161.97886224242612,161.97886224242612,0.5);
   }
.button-click:hover{
    background: linear-gradient(to right,#c5cc9e ,#58d6ae);
    background-color: #c5cc9e;
    cursor: pointer;
}
.button-click:active{
    transform: scale(0.95);
}

#savings-container{
    margin-left: 50%;
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #209E86;
    border-right: 5px solid #58d6ae;
}

#savings-container h1{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;

}

#savings-container p{
    padding-left: 10px;
    font-size: 20px;
}
#savings-container #amount-text{
    text-align: left;
    padding-left: 50px;
}
#savings-container #amount{
    text-align: left;
    padding-left: 50px;
}
#savings-container #box{
    display: flex;
    flex-direction: row-reverse;
    
}
#savings-container #box div{
    width: 50%;

}

#add-or-remove-savings-container{
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #209E86;
    border-left: 5px solid #58d6ae;
}

#add-or-remove-savings-container h1{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;

}
#add-or-remove-savings-container p{
    padding-left: 10px;
    font-size: 20px;

}
#add-or-remove-savings-container div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    padding-right: 15px;
}

#add-deposits-container{
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #209E86;
    border-left: 5px solid #58d6ae;
}

#add-deposits-container h1{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;

}
#add-deposits-container p{
    padding-left: 10px;
    font-size: 20px;
}
#add-deposits-container div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    padding-right: 15px;
}
#add-expenses-container{
    margin-left: 50%;
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    color: #209E86;
    border-right: 5px solid #58d6ae;
}

#add-expenses-container h1{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center;

}
#add-expenses-container p{
    padding-left: 10px;
    font-size: 20px;
}
#add-expenses-container div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    padding-right: 15px;
}
@media only screen and (max-width: 900px) {
    #amount-container{
        width: 60%;
        height:550px;
        text-align: center;
    }
    #amount-container p{
        padding-right: 10px;
    }
    #amount-container #amount-text{
        text-align: center;
        padding-left: 50px;
    }
    #amount-container #amount{
        text-align: center;
        padding-left: 50px;
    }
    #amount-container #box{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content:center;
        align-items: center;
        
    }
    #amount-container #box div{
        width: 80%;
    }
    #savings-container{
        width: 60%;
        height:550px;
        text-align: left;

    }#savings-container p{
        padding-right: 10px;
    }

    #savings-container #amount-text{
        text-align: justify;
        padding-right: 50px;
    }
    #savings-container #amount{
        text-align: justify;
        padding-right: 50px;
    }
    #savings-container #box{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content:center;
        align-items: center;
        
    }
    #savings-container #box div{
        width: 80%;
        height: 200px;
    }

    #add-expenses-container{
        width: 60%;
        height: 350px;
    }

    #add-expenses-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-expenses-container div{
        margin-top: 150px;
        padding-left: 15px;
    }
    #add-or-remove-savings-container{
        width: 60%;
        height: 350px;
    }

    #add-or-remove-savings-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-or-remove-savings-container div{
        padding-left: 15px;
    }

    #add-deposits-container{
        width: 60%;
        height: 350px;
    }

    #add-deposits-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-deposits-container div{
        margin-top: 150px;
        padding-left: 15px;
    }
  }
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    #amount-container{
        width: 60%;
    }
    #amount-container p{
        padding-right: 10px;
    }
    #amount-container #amount-text{
        text-align: right;
        padding-right: 50px;
    }
    #amount-container #amount{
        text-align: right;
        padding-right: 50px;
    }
    #amount-container #box{
        display: flex;
        flex-direction: row;

        
    }
    #amount-container #box div{
        width: 80%;
    }
    #savings-container{
        width: 60%;
        height:350px;

    }#savings-container p{
        padding-right: 10px;
    }

    #savings-container #amount-text{
        text-align: left;
        padding-right: 50px;
    }
    #savings-container #amount{
        text-align: left;
        padding-right: 50px;
    }
    #savings-container #box{
        display: flex;
        flex-direction: row-reverse;
        
    }
    #savings-container #box div{
        width: 80%;
        height: 200px;
        padding-right: 10px;
    }

    #add-expenses-container{
        width: 60%;
        height: 350px;
    }

    #add-expenses-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-expenses-container div{
        margin-top: 100px;
        padding-left: 15px;
    }
    #add-or-remove-savings-container{
        width: 60%;
        height: 350px;
    }

    #add-or-remove-savings-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-or-remove-savings-container div{
        padding-left: 15px;
    }

    #add-deposits-container{
        width: 60%;
        height: 350px;
    }

    #add-deposits-container p{
        text-align: center;
        padding-right: 10px;    
    
    }
    #add-deposits-container div{
        margin-top: 100px;
        padding-left: 15px;
    }
  }