#menu{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70px;
    background-color:antiquewhite;
    border-radius: 3px;
    font-size: 30px;
    display: flex;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}


#menu div{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu a{
    text-decoration: none;
    color: #209E86;
}
#menu a:hover{
    text-decoration: underline;
}


.button-logout{
    background: linear-gradient(to right,#D0BD92 ,#CF4963);
    background-color: #be9c50;
    color:antiquewhite;
    font-size: 15px;
    width: 60%;
    font-style: normal;
    text-decoration: none;
    padding: 10px 10px;
    border: 0px solid #000;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 14px -2px rgba(164.9531614780426,161.97886224242612,161.97886224242612,0.5);
}
.button-logout:hover{
    background: linear-gradient(to right,#c5a96f ,#d2515c);
    background-color: #c5a96f;
    cursor: pointer;
   }
.button-logout:active{
    transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
    .menu-items {
      display: block; /* Pojawia się menu na mniejszych ekranach */
    }

    .menu-list{
        width: 100%;
        padding-top: 15px;
        height: 60px;
        border: 0;
        font-size: 40px;
        background-color: antiquewhite;
        color: #209E86;
    }
    #list{
        width: 40px;
    }
    .menu-list:hover{
        cursor: pointer;
    }

    #menu-items{
        width: 100% !important;
        height: 400px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    #menu-items div{
        width: 200px;
    }
    
  }
