#success-container{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    min-height: 100px;
    padding: 10px;
    background-color:#2DD782;
    color:antiquewhite;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}
#success-container h1{
    font-size: 20px;
}